<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>historial-productos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <h2 class="titulo">historial-productos</h2>
  <div class="card-container">
  <ion-card class="carta">
    <ion-card-title>Card Title</ion-card-title>
    <p>5DD55520</p>
    <img class="imagen" alt="Silhouette of mountains" src="/assets/computador lenovo.jpg" />
    <ion-card-header>
      <ion-card-subtitle>2022-01-22</ion-card-subtitle>
      <ion-card-subtitle>Vendedor: Juanito</ion-card-subtitle>
      <p>Total: 5555.5000</p>
    </ion-card-header>
  </ion-card>
  <ion-card class="carta">
    <ion-card-title>Card Title</ion-card-title>
    <p>5DD55520</p>
    <img class="imagen" alt="Silhouette of mountains" src="/assets/computador lenovo.jpg" />
    <ion-card-header>
      <ion-card-subtitle>2022-01-22</ion-card-subtitle>
      <ion-card-subtitle>Vendedor: Juanito</ion-card-subtitle>
      <p>Total: 5555.5000</p>
    </ion-card-header>
  </ion-card>
    <ion-card class="carta">
      <ion-card-title>Card Title</ion-card-title>
      <p>5DD55520</p>
      <img class="imagen" alt="Silhouette of mountains" src="/assets/computador lenovo.jpg" />
      <ion-card-header>
        <ion-card-subtitle>2022-01-22</ion-card-subtitle>
        <ion-card-subtitle>Vendedor: Juanito</ion-card-subtitle>
        <p>Total: 5555.5000</p>
      </ion-card-header>
    </ion-card>
    <ion-card class="carta">
      <ion-card-title>Card Title</ion-card-title>
      <p>5DD55520</p>
      <img class="imagen" alt="Silhouette of mountains" src="/assets/computador lenovo.jpg" />
      <ion-card-header>
        <ion-card-subtitle>2022-01-22</ion-card-subtitle>
        <ion-card-subtitle>Vendedor: Juanito</ion-card-subtitle>
        <p>Total: 5555.5000</p>
      </ion-card-header>
    </ion-card>

  </div>
</ion-content>
