<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="card-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Mis Productos</ion-card-title>
        <ion-card-subtitle>Historial Venta</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>

          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="TecladoMecanicoLogitech" src="/assets/teclado.jpg" />
            </ion-thumbnail>
            <ion-label>Logitech teclado mecanico<p>G413LGTTKLSEMGK</p><b style="color:green;">Entregado</b></ion-label>
          </ion-item>


          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="LaptopLenovo" src="/assets/computador lenovo.jpg" />
            </ion-thumbnail>
            <ion-label>Laptop Lenovo<p>12LNVDSKT320</p><b style="color:rgb(51, 90, 218);">En Ruta</b></ion-label>
          </ion-item>

          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="mouse" src="/assets/mouselogitex.jpg" />
            </ion-thumbnail>
            <ion-label>Logitech mouse Gamer<p>M432LGTMUSSEGGM</p><b style="color:red;">Compra Cancelada</b></ion-label>
          </ion-item>


        </ion-list>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
