<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="card-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Mis Compras</ion-card-title>
        <ion-card-subtitle>Historial de Compras </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>

        <ion-list *ngFor="let c of compras; let i =index">

          <ion-item>
            <ion-thumbnail slot="start">
              <img class="img" alt="{{c.nombre}}" src="{{c.img}}" />
            </ion-thumbnail>
            <ion-label>{{c.nombre}}<p>{{c.id}}</p><b style="{{c.color}}">{{c.estado}}</b></ion-label>
          </ion-item>

        </ion-list>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
