.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre cartas */
  padding: 16px; /* Espacio interno del contenedor */
}


.img{
  width: 100%; /* Ancho de la imagen */
  aspect-ratio: 1/1;
  object-fit: cover;
}
