<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>


<ion-content [fullscreen]="true">
  <div class="notification-container">
    <ion-text class="notification">
      <p><strong>JUANITO</strong>  ha comprado el producto <strong>#252025-Teclado</strong>.</p>
    </ion-text>
  </div>

  <div class="notification-container">
    <ion-text class="notification">
      <p><strong>JUANITO</strong>  ha comprado el producto <strong>#252025-Teclado</strong>.</p>
    </ion-text>
  </div>

  <div class="notification-container">
    <ion-text class="notification">
      <p><strong>JUANITO</strong>  ha comprado el producto <strong>#252025-Teclado</strong>.</p>
    </ion-text>
  </div>

  <div class="notification-container">
    <ion-text class="notification">
      <p><strong>JUANITO</strong>  ha comprado el producto <strong>#252025-Teclado</strong>.</p>
    </ion-text>
  </div>
</ion-content>
