<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Ingresa tu correo electrónico</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Ingreso del correo electrónico -->
        <ion-input class="border-color" type="email" placeholder="Correo electrónico" [(ngModel)]="correo"></ion-input>
        <ion-button expand="full" (click)="enviarCodigo()">Enviar Código de Verificación</ion-button>
        
        <!-- Mostrar el campo de código de verificación solo si se ha enviado el código -->
        <div *ngIf="codigoEnviado">
          <ion-input class="border-color" type="text" placeholder="Ingresa el código de verificación" [(ngModel)]="codigo"></ion-input>
          <ion-button expand="full" (click)="verificarCodigo()">Verificar Código</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
