.ion-padding {
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    height: 100%; /* Ocupa toda la altura disponible */
  }
  
  .contra {
    width: 100%; /* Asegura que los elementos ocupen el ancho completo */
    margin-bottom: 15px; /* Espacio entre los inputs y el botón */
    border-color: rgba(0, 0, 0, 0);
  }
  
  ion-button {
    margin-top: 20px; /* Espacio entre el input y el botón */
  }
  