<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="perfil-container">
    <ion-avatar class="perfil">
      <img [src]="usuario?.foto_perfil || '/assets/foto perfil.jpg'" alt="Foto de perfil">
    </ion-avatar>
    <div class="detalle-perfil">

      <!-- Nombre Completo -->
      <ion-text class="perfil-Nombre">
        <p>{{ usuario?.nombre }}</p> <!-- Muestra el nombre del usuario -->
      </ion-text>

      <ion-text class="perfil-usuario">
        <h2>{{ usuario?.user }}</h2> <!-- Muestra el nombre de usuario -->
      </ion-text>

      <!-- Correo electrónico -->
      <ion-text class="perfil-email">
        <p>{{ usuario?.correo }}</p> <!-- Muestra el correo del usuario -->
      </ion-text>
    </div>
  </div>

  <ion-card>

    <ion-card-header>
      <ion-card-title>Ajustes</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-list>
        <ion-item [routerLink]="['/editar-perfilv']">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Editar Datos Personales</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="card-outline"></ion-icon>
          <ion-label>Medios de Pago</ion-label>
        </ion-item>
        <ion-item [routerLink]="['/']">
          <ion-icon name="log-out-outline"></ion-icon>
          <ion-label>Cerrar Sesión</ion-label>
        </ion-item>
      </ion-list>

    </ion-card-content>

  </ion-card>

</ion-content>
