<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfilv</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="perfil-container">
    <ion-avatar class="perfil">
      <img src="/assets/foto perfil.jpg" alt="Foto de perfil">
    </ion-avatar>
    <div class="detalle-perfil">

      <!-- Nombre de Completo -->
      <ion-text class="perfil-Nombre">
        <p>Nombre de Usuario</p>
      </ion-text>

      <ion-text class="perfil-usuario">
        <h2>Nombre de Usuario</h2>
      </ion-text>

      <!-- Correo electrónico -->
      <ion-text class="perfil-email">
        <p>exampleduocuc.cl</p>
      </ion-text>
    </div>
  </div>


  <div class="botones-opciones">
    <ion-button expand="block" color="primary" class="boton">
      Editar Cuenta Bancaria
    </ion-button>
    <ion-button expand="block" color="primary" class="boton">
      Editar Perfil
    </ion-button>
    <ion-button expand="block" color="primary" class="boton">
      Cambiar idioma
    </ion-button>
  </div>
</ion-content>