<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfilv</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="perfil-container">
  <ion-avatar class="perfil-avatar">
    <img src="/assets/foto perfil.jpg" alt="Foto de perfil">
  </ion-avatar>

  <!-- Nombre de usuario -->
  <ion-text class="perfil-usuario">
    <h2>Nombre de Usuario</h2>
  </ion-text>

  <!-- Correo electrónico -->
  <ion-item class="perfil-email">
    <ion-label >Correo Electrónico</ion-label>
  </ion-item>

  <!-- Contraseña -->
  <ion-item  class="perfil-contraseña">
    <ion-label >Contraseña</ion-label>

  </ion-item>
</div>
</ion-content>
