.contendedor{
    margin: 16px;
    padding: 16px;
    border-radius: 10px;
}

.imagen{
    width: 100%;
    height: au;
    object-fit: cover;
    border-radius: 10px;
}

.border-color{
  border-color: rgba(0, 0, 0, 0);
}

.descripcion {
    font-size: 16px;
    margin-bottom: 16px;
  }
  
  .dinero {
    font-size: 24px;
    font-weight: bold;
    color: green;
  }
  
  .botones {
    display: flex;
    justify-content: space-around;
    margin: 20px 16px;
  }

  .error-message {
    color: red; /* Cambia el color del texto de error */
    background-color: #ffe6e6; /* Fondo ligeramente rojo para resaltar el error */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    margin-top: 10px; /* Espaciado superior */
  }