<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo">Detalle Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-card *ngIf="producto" class="contenedor border-color">
    <img class="imagen" alt="Imagen del producto" [src]="producto.imagen" />
    
    <ion-card-header>
      <ion-card-title>
        <input class="border-color" [(ngModel)]="producto.nom_producto" placeholder="Nombre del producto" [disabled]="!isEditing" />
      </ion-card-title>
      <ion-card-subtitle>#{{ producto.id_producto }}</ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      <p class="descripcion border-color">
        <textarea [(ngModel)]="producto.desc_producto" placeholder="Descripción" [disabled]="!isEditing"></textarea>
      </p>
          <ion-item *ngIf="isEditing" class="border-color">
            <ion-label class="border-color" position="floating">Stock</ion-label>
              <ion-input  class="border-color"
              type="number" 
              [(ngModel)]="producto.stock" 
              placeholder="Cantidad en stock" 
              [disabled]="!isEditing"
            ></ion-input>
          </ion-item>      

          <p *ngIf="!isEditing">El Stock del producto es: {{ producto.stock }}</p>

           

      <ion-item *ngIf="isEditing" class="border-color">
        <ion-label>Tipo de Producto</ion-label>
        <ion-select class="border-color" [(ngModel)]="producto.id_tipo" [disabled]="!isEditing">
          <ion-select-option class="border-color" *ngFor="let tipo of tiposProducto" [value]="tipo.id_tipo">
            {{ tipo.nom_tipo }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="isEditing" class="border-color">
        <ion-label position="floating">Precio</ion-label>
        <ion-input  class="border-color"
          type="number" 
          [(ngModel)]="producto.precio" 
          placeholder="Precio del producto" 
          [disabled]="!isEditing">
        </ion-input>
      </ion-item>

      <p *ngIf="!isEditing" class="dinero">{{ producto.precio | currency }}</p>

      
      <ion-button (click)="cambiarImagen()" color="secondary" *ngIf="isEditing">
        <ion-icon name="camera"></ion-icon> Cambiar Imagen
      </ion-button>
    </ion-card-content>
  </ion-card>

    <!-- Mensajes de error -->
    <div *ngIf="mensajeErrorNombre" class="error-message">{{ mensajeErrorNombre }}</div>
    <div *ngIf="mensajeErrorDescripcion" class="error-message">{{ mensajeErrorDescripcion }}</div>
    <div *ngIf="mensajeErrorStock" class="error-message">{{ mensajeErrorStock }}</div>
    <div *ngIf="mensajeErrorTipo" class="error-message">{{ mensajeErrorTipo }}</div>
    <div *ngIf="mensajeErrorPrecio" class="error-message">{{ mensajeErrorPrecio }}</div>
    <div *ngIf="mensajeErrorImagen" class="error-message">{{ mensajeErrorImagen }}</div>



  <div class="botones">
    <ion-button expand="block" color="primary" (click)="toggleEdit()">
      {{ isEditing ? 'Guardar Cambios' : 'Editar' }}
    </ion-button>
    <ion-button expand="block" color="danger" (click)="eliminarProducto()">Eliminar</ion-button>
  </div>

   
</ion-content>
