<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button [routerLink]="['/login']">
    Iniciar Sesión
  </ion-button>
  <br>
  <ion-button [routerLink]="['/register']">
    Registrar
  </ion-button>
</ion-content>
