<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="contendedor">
    <img class="imagen" alt="Imagen del producto" src="assets/computador lenovo.jpg" />
    <ion-card-header>
      <ion-card-title>Laptop Gamer Lenovo</ion-card-title>
      <ion-card-subtitle>#2564</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p class="descripcion">
        Esta laptop gamer Lenovo está equipada con un procesador Intel Core i7 de 9ª generación, 16GB de RAM y una tarjeta gráfica NVIDIA GeForce GTX 1660 Ti. Ideal para gaming y trabajo intensivo.
      </p>
      <p class="dinero">$250.000</p>
    </ion-card-content>
  </ion-card>
</ion-content>
