<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="producto" class="contenedor">
    <img class="imagen" alt="Imagen del producto" [src]="producto.imagen" />

    <ion-card-header>
      <ion-card-title>
        <h2>{{ producto.nom_producto }}</h2>
      </ion-card-title>
      <ion-card-subtitle>#{{ producto.id_producto }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p class="descripcion">
        <textarea [(ngModel)]="producto.desc_producto" placeholder="Descripción" [disabled]="true" readonly></textarea>
      </p>
      <p class="dinero">{{ producto.precio | currency }}</p>


      <ion-item>
        <ion-label>Selecciona la cantidad:</ion-label>
        <ion-button (click)="disminuirCantidad()">-</ion-button>
        <ion-input type="number" [(ngModel)]="cantidad" min="1" [max]="producto.stock" placeholder="1"></ion-input>
        <ion-button (click)="incrementarCantidad()">+</ion-button>
      </ion-item>

      <ion-item>
        <ion-label>Tipo de Producto</ion-label>
        <ion-select [(ngModel)]="producto.id_tipo" disabled>
          <ion-select-option *ngFor="let tipo of tiposProducto" [value]="tipo.id_tipo">
            {{ tipo.nom_tipo }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <p>Publicado por: {{ producto.usuario_vendedor }}</p> <!-- Muestra el nombre del vendedor aquí -->
    </ion-card-content>
  </ion-card>

  <div class="botones">
    <ion-button expand="block" color="primary" (click)="agregarAlCarrito()">
      <ion-icon name="cart"></ion-icon> Agregar al Carrito
    </ion-button>
    <ion-button expand="block" color="light" routerLink="/catalogoc">
      Volver al Catálogo
    </ion-button>
  </div>
</ion-content>
