<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list lines="full" class="contenedor">
    <!-- Imagen de perfil -->
    <ion-item class="item-personalizado">
      <ion-avatar slot="start">
        <img [src]="fotoPerfil || 'ruta/default_avatar.jpg'" alt="Foto de perfil">
      </ion-avatar>
      <ion-label>Foto de Perfil</ion-label>

      <!-- Botón para seleccionar una nueva imagen -->
      <ion-icon name="camera" *ngIf="editMode" (click)="fileInput.click()" style="cursor: pointer;"></ion-icon>
      <input type="file" accept="image/*" (change)="onFileSelected($event)" #fileInput hidden>
    </ion-item>

    <!-- Otros campos -->

    <ion-item class="item-personalizado">
      <ion-label>Rol</ion-label>
      <ion-select [(ngModel)]="id_rol" [disabled]="!editMode">
        <ion-select-option value="1">Vendedor</ion-select-option>
        <ion-select-option value="2">Comprador</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="item-personalizado">
      <ion-input type="email" fill="solid" label="Correo Electrónico" labelPlacement="floating"
        [(ngModel)]="correo" [disabled]="!editMode"></ion-input>
    </ion-item>
    <ion-item class="item-personalizado">
      <ion-input type="text" fill="solid" label="Nombre de Usuario" labelPlacement="floating"
        [(ngModel)]="nombreUsuario" [disabled]="!editMode"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="primary" (click)="toggleEdit()">
    {{ editMode ? 'Guardar Cambios' : 'Editar Datos Personales' }}
  </ion-button>
</ion-content>
