<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title class="titulo">Editar Perfil</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list lines="full" class="contenedor">
    <!-- Imagen de perfil -->
    <ion-item class="item-personalizado">
      <ion-avatar slot="start">
        <img [src]="fotoPerfil || 'ruta/default_avatar.jpg'" alt="Foto de perfil">
      </ion-avatar>
      <ion-label>Foto de Perfil</ion-label>

      <!-- Botón para seleccionar una nueva imagen -->
      <ion-icon name="camera" *ngIf="editMode" (click)="presentActionSheet()" style="cursor: pointer;"></ion-icon>
    </ion-item>

    <!-- Otros campos -->

    <ion-item class="item-personalizado border-color">
      <ion-label>Rol</ion-label>
      <ion-select class="border-color" [(ngModel)]="id_rol" [disabled]="!editMode">
        <ion-select-option class="border-color" value="1">Vendedor</ion-select-option>
        <ion-select-option class="border-color" value="2">Comprador</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="item-personalizado border-color">
      <ion-input class="border-color" type="email" fill="solid" label="Correo Electrónico" labelPlacement="floating"
        [(ngModel)]="correo" [disabled]="!editMode"></ion-input>
    </ion-item>
    <ion-item class="item-personalizado border-color">
      <ion-input class="border-color" type="text" fill="solid" label="Nombre de Usuario" labelPlacement="floating"
        [(ngModel)]="nombreUsuario" [disabled]="!editMode"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="primary" (click)="toggleEdit()">
    {{ editMode ? 'Guardar Cambios' : 'Editar Datos Personales' }}
  </ion-button>

   <!-- Nuevo botón para cambiar contraseña -->
   <ion-button class="boton-guardar" expand="block" color="secondary" (click)="irACambiarContrasena()">
    Cambiar Contraseña
  </ion-button>
</ion-content>
