<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-searchbar>

  </ion-searchbar>
  <h2 class="titulo">Bienvenido usuario</h2>
  <div class="card-container">
    <ion-card class="carta" [routerLink]="['/productoc']">
      <img class="imagen" alt="Silhouette of mountains" src="/assets/computador lenovo.jpg" />
      <ion-card-header>
        <ion-card-title>Laptop gamer</ion-card-title>
        <ion-card-subtitle>#2564</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Breve descripcion de lo que trata el producto</p>
        <p class="dinero">$25.000</p>
      </ion-card-content>
    </ion-card>
    <ion-card class="carta">
      <img class="imagen" alt="Silhouette of mountains" src="assets/Laptop WIRED.webp" />
      <ion-card-header>
        <ion-card-title>Laptop gamer</ion-card-title>
        <ion-card-subtitle>#2564</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Breve descripcion de lo que trata el producto</p>
        <p class="dinero">$25.000</p>
      </ion-card-content>
    </ion-card>
    <ion-card class="carta">
      <img class="imagen" alt="Silhouette of mountains" src="assets/mouselogitex.jpg" />
      <ion-card-header>
        <ion-card-title>Laptop gamer</ion-card-title>
        <ion-card-subtitle>#2564</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Breve descripcion de lo que trata el producto</p>
        <p class="dinero">$25.000</p>
      </ion-card-content>
    </ion-card>
    <ion-card class="carta">
      <img class="imagen" alt="Silhouette of mountains" src="/assets/computador lenovo.jpg" />
      <ion-card-header>
        <ion-card-title>Laptop gamer</ion-card-title>
        <ion-card-subtitle>#2564</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Breve descripcion de lo que trata el producto</p>
        <p class="dinero">$25.000</p>
      </ion-card-content>
    </ion-card>
    <ion-card class="carta">
      <img class="imagen" alt="Silhouette of mountains" src="/assets/computador lenovo.jpg" />
      <ion-card-header>
        <ion-card-title>Laptop gamer</ion-card-title>
        <ion-card-subtitle>#2564</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Breve descripcion de lo que trata el producto</p>
        <p class="dinero">$25.000</p>
      </ion-card-content>
    </ion-card>
    <ion-card class="carta">
      <img class="imagen" alt="Silhouette of mountains" src="/assets/computador lenovo.jpg" />
      <ion-card-header>
        <ion-card-title>Laptop gamer</ion-card-title>
        <ion-card-subtitle>#2564</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Breve descripcion de lo que trata el producto</p>
        <p class="dinero">$25.000</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
