<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [(ngModel)]="searchText" (ionInput)="filterProducts()"></ion-searchbar>
  
  <h2 class="titulo">Bienvenido {{ usuario }}</h2>
  
  <div class="card-container">
    <ion-card 
      *ngFor="let producto of productos" 
      *ngIf="producto.stock > 0"
      class="carta" 
      [routerLink]="['/productoc', producto.id_producto]">
      
      <img class="imagen" [src]="producto.imagen" alt="Imagen del producto" />
      
      <ion-card-header>
        <ion-card-title>{{ producto.nom_producto }}</ion-card-title>
        <ion-card-subtitle>#{{ producto.nom_tipo }}</ion-card-subtitle>
      </ion-card-header>
      
      <ion-card-content>
        <p>{{ producto.desc_producto }}</p>
        <br>
        <p>Stock: {{ producto.stock }}</p>
        <p>Publicado por: {{ producto.usuario_vendedor }}</p> <!-- Muestra el nombre del vendedor aquí -->
        <p class="dinero">{{ producto.precio | currency:'CLP':'symbol':'1.0-0' }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
