<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio sesion</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contenedor">
    <img src="assets/icon/LOGO.png" alt="logo" class="logo-img">
    <div >
      <ion-input class="formulario " color="dark" label="Usuario o rut" label-placement="floating" fill="outline"
        placeholder="Ingresa texto aqui"></ion-input>
    </div>
    <br>
    <div>
      <ion-input class="formulario "  color="dark" label="Contraseña" label-placement="floating"  fill="outline"
        placeholder="Ingrese texto aqui"></ion-input>
    </div>
    <p class="olvido_contra">¿Has olvidado tu contraseña?</p>
  </div>   
    <div class="div-boton">
      <ion-button class="boton" [routerLink]="['/catalogov']">
        iniciar sesion
      </ion-button>
      <ion-button class="boton" [routerLink]="['/registarv']">
        crear cuenta
      </ion-button>
    </div>
</ion-content>