<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Tarjetas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="tarjetas.length > 0">
    <ion-item *ngFor="let tarjeta of tarjetas">
      <ion-label>
        <h2>{{ tarjeta.numero_tarjeta }}</h2>
        <p>Expira: {{ tarjeta.FE_mes }}/{{ tarjeta.FE_anio }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-button  expand="full">Añadir Método de Pago</ion-button>
  <ion-note *ngIf="tarjetas.length === 0">No tienes tarjetas guardadas.</ion-note>
</ion-content>

    