<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agregar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contenedor">
    
      <ion-list  class="formulario" >
        <ion-item *ngIf="imagen">
          <img *ngIf="imagen" [src]="imagen" alt="Sin imagen" style="height: 250px;width: 250px;"/>
        </ion-item>

        <ion-button (click)="presentActionSheet()">Seleccionar Imagen</ion-button>
      </ion-list>
      <div class="error-message">{{ mensajeErrorImagen }}</div>
      <br>
      <div class="error-message">{{ mensajeErrorNombre }}</div>
    <ion-input class="formulario" helperText="" color="dark" label="Nombre del Producto" label-placement="floating" fill="outline"
      placeholder="Ingrese el Nombre del Producto" [(ngModel)]="nombreProducto">
      </ion-input>
      <br>
      <div class="error-message">{{ mensajeErrorDescripcion }}</div>
      <ion-input class="formulario" color="dark" label="Descripción" label-placement="floating" fill="outline"
      placeholder="Ingrese la descripcion del Producto" [(ngModel)]="descripcionProducto">
      </ion-input>
      <br>
      <div class="error-message">{{ mensajeErrorTipo }}</div>
      <ion-item class="border-color">
        <ion-label>Tipo de Producto</ion-label>
        <ion-select class="border-color" [(ngModel)]="tipoSeleccionado">
          <ion-select-option class="border-color" *ngFor="let tipo of tiposProducto" [value]="tipo.id_tipo">
            {{ tipo.nom_tipo }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <br>
      <div class="error-message">{{ mensajeErrorStock }}</div>
      <ion-input class="formulario" color="dark" type="number" label="Cantidad" label-placement="floating" fill="outline"
      placeholder="Ingrese la Cantidad" [(ngModel)]="cantidad">
      </ion-input>
      <br>
      <div class="error-message">{{ mensajeErrorPrecio }}</div>
      <ion-input class="formulario" color="dark" type="number" label="Precio" label-placement="floating" fill="outline"
      placeholder="Ingrese el Precio Unitario" [(ngModel)]="precio">
    </ion-input>

    <ion-button  class="boton" (click)="formulario()">
      Publicar Producto
    </ion-button>
  </div>

</ion-content>
