.olvido_contra{
  font-size: small;
  color: rgb(0, 217, 255);
  text-decoration: underline;
  text-align: center;
}

.boton{
  background-color: rgb(0, 217, 255);
  border-radius: 20px;
  margin-top: 8%;
}

.error-message {
  color: red; /* Color del mensaje de error */
  margin-top: 4px; /* Espacio entre el input y el mensaje de error */
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-top: 20%;
}

.formulario {
  width: 100%;
  max-width: 300px;
  padding: 20px;
  margin-top: 2%;
}

.border-color{
  border-color: rgba(0, 0, 0, 0);
}

.titulo{
text-align: center;
color: rgb(5, 197, 255);
}

.img{
  width: auto; /* Ancho de la imagen */
  aspect-ratio: 1/1;
}

.border-color{
  border-color: rgba(0, 0, 0, 0);
}

ion-input{
  border-color: rgba(0, 0, 0, 0);
}