.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .titulo{
    text-align: center;
    margin-bottom: 10px; /* Espacio entre el título y la imagen */
  }
  
  .label{
    margin-bottom: 10px; /* Espacio entre los labels */
    font-size: 16px; /* Tamaño del texto */
    
  }
  
  ion-input{
    border-color: rgba(0, 0, 0, 0);
  }