<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar></ion-searchbar>
  <h2 class="titulo">Bienvenido {{ usuario }}</h2>
  <div class="card-container">
    <ion-card *ngFor="let producto of productos" class="carta" [routerLink]="['/productov', producto.id_producto]">
      <img class="imagen" [src]="producto.imagen" alt="Imagen del producto" />
      <ion-card-header>
        <ion-card-title>{{ producto.nom_producto }}</ion-card-title>
        <ion-card-subtitle>#{{  producto.nom_tipo }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{ producto.desc_producto }}</p>
        <p class="dinero">{{ producto.precio | currency}}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
