<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Direcciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tus Direcciones</ion-card-title>
      <ion-note *ngIf="direcciones.length === 0">No tienes tarjetas guardadas.</ion-note>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list *ngIf="direcciones.length > 0">    
        <ion-item-sliding *ngFor="let dir of direcciones">
          <ion-item>
            <h2>{{ dir.nom_direccion }}</h2>
            <p>Comuna: {{ dir.nom_comuna }}</p>
          </ion-item>
          <ion-item-options side="start">
            <ion-item-option (click)="modificar(dir.id_direccion)">
              <ion-icon slot="icon-only" name="pencil"></ion-icon>
            </ion-item-option>
          </ion-item-options>
          <ion-item-options side="end" >
            <ion-item-option color="danger" (click)="confirmarEliminacion(dir.id_direccion)">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-card-content>
    <ion-button expand="full" (click)="crear()">Añadir Nueva Direccion</ion-button>
  </ion-card>
  
  </ion-content>
  
    

