<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content cla [fullscreen]="true">

  <div class="section vendedor">
    <h2 >VENDEDOR</h2>
    <ion-button>Iniciar sesion</ion-button>
  </div>

  <div class="divider"></div>


  <div class="section comprador">
    <h2>COMPRADOR</h2>
    <ion-button>Iniciar sesion</ion-button>
  </div>
</ion-content>
