<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contenedor">
    <img src="assets/icon/LOGO.png" alt="logo" class="logo-img">
    <div>
      <ion-input 
        class="formulario" 
        label="Usuario o rut" 
        label-placement="floating" 
        fill="outline"
        placeholder="Ingresa texto aquí" 
        [(ngModel)]="usuario"
        required>
        
      </ion-input>
    </div>
    <br>
    <div>
      <ion-input 
        class="formulario" 
        label="Contraseña" 
        label-placement="floating"  
        fill="outline"
        placeholder="Ingrese texto aquí" 
        [(ngModel)]="contrasena" 
        type="password"
        required >
        
      </ion-input>
    </div>
    <a [routerLink]="['/olvide-contra']"><p class="olvido_contra" >¿Has olvidado tu contraseña?</p></a>
  </div>
  <div class="div-boton">
    <ion-button 
      class="boton" 
      (click)="login()">
      Iniciar sesión
    </ion-button>
    <ion-button 
      class="boton" 
      [routerLink]="['/registrar']">
      Crear cuenta
    </ion-button>
  </div>
</ion-content>
