<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tu Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="carrito.length > 0">
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of carrito; let i = index">
          <ion-thumbnail slot="start">
            <img class="img-carrito" alt="{{item.nom_producto}}" [src]="item.imagen" />
          </ion-thumbnail>
          <ion-label>
            <h2>{{item.nom_producto}}</h2>
            <p>ID: {{item.id_producto}} | Tags: {{item.nom_tipo}}</p>
            <b style="color:rgb(21, 255, 0);">{{item.precio | currency:'CLP ':true:'4.0-0'}}</b>
          </ion-label>
          <ion-label>
            <p>Cantidad: {{item.cantidad}}</p>
          </ion-label>
          <!-- Botones para incrementar y disminuir la cantidad -->
          <ion-buttons slot="end">
            <ion-button (click)="cambiarCantidad(i, 1)">+</ion-button>
            <ion-button (click)="cambiarCantidad(i, -1)">-</ion-button>
            <ion-button color="danger" (click)="eliminarProducto(i)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>

      <ion-item>
        <ion-note slot="end">
          <p>IVA (19%): {{ (getTotalPrice() * 0.19) | currency:'CLP':'symbol':'1.0-0' }}</p>
          <b style="font-size: x-large;">Total: {{ (getTotalPrice() + getTotalPrice() * 0.19) | currency:'CLP':'symbol':'1.0-0' }}</b>
        </ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="carrito.length === 0">
    <ion-card-header>
      <ion-card-title>No hay productos en tu carrito</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Agrega productos a tu carrito para empezar a comprar.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
