<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo">Tu Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let item of carrito; let i = index" lines="full">
        <ion-thumbnail slot="start" class="img-container">
          <img class="img-carrito" [src]="item.imagen" alt="{{item.nom_producto}}" />
        </ion-thumbnail>

        <ion-label>
          <h2 class="nombre-producto">{{item.nom_producto}}</h2>
          <p>ID: {{item.id_producto}} | {{item.nom_tipo}}</p>
          <!-- Precio en verde -->
          <b class="precio-verde">{{item.precio | currency:'CLP ':true:'4.0-0'}}</b>
        </ion-label>

        <!-- Cantidad de productos -->
        <ion-buttons slot="end" class="cantidad-buttons">
          <ion-button size="small" color="color-blanco" (click)="cambiarCantidad(i, -1)" class="btn-cantidad">
            <ion-icon name="remove-outline"></ion-icon>
          </ion-button>
          <ion-label>{{item.cantidad}}</ion-label>
          <ion-button size="small" color="color-blanco" (click)="cambiarCantidad(i, 1)" class="btn-cantidad">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </ion-buttons>

        <!-- Botón de eliminar -->
        <ion-button slot="end" color="danger" fill="clear" (click)="eliminarProducto(i)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <!-- Mostrar Total e IVA solo si hay productos en el carrito -->
      <ion-item lines="none" *ngIf="carrito.length > 0">
        <ion-note slot="end" class="total-carrito">
          <!-- IVA en rojo -->
          <p class="iva-rojo">IVA (19%): {{ (getTotalPrice() * 0.19) | currency:'CLP':'symbol':'1.0-0' }}</p>
          <!-- Total en verde y grande -->
          <b class="total-verde-grande">Total: {{ (getTotalPrice() + getTotalPrice() * 0.19) | currency:'CLP':'symbol':'1.0-0' }}</b>
        </ion-note>
      </ion-item>
    </ion-list>
  </ion-card-content>

  <!-- Mensaje si el carrito está vacío -->
  <ion-card *ngIf="carrito.length === 0">
    <ion-card-header>
      <ion-card-title class="titulo">Tu carrito está vacío</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>¡Agrega productos a tu carrito para empezar a comprar!</p>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="iraseleccion()" expand="full" class="btn-pagar">Ir a Pagar</ion-button>
</ion-content>
